services:
  - type: web
    name: fuel-finder
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache